Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a document database with the scalability and flexibility that you want with the quering and indexing that you need.

A non-relational database stores data in a non-tabular form, and tends to be more fexible than the traditional, SQL- based, relational databaase structures.

MongoDB supports JSON querying, a SQL Database uses SQL query processing. The basic characteristics make MongoDB a more dynamic and complex option that is fit for hierarchical data while a SQL database remains more predefined and suited for othe kinds of data storage.

Q2. State and Explain the features of MongoDB.

1. MongoDB we can search by field, range query and it also support regular expression searches.
2. We can index any field in a document.
3. MongoDB supports master slave replication.
4. MongoDB can run over multiple servers. The data us duplicated to keep the system up and also keep its running condition in case of hardware failure.
5. It has an automatic load balancing configuration because of data placed in shards.
6. Supports map, reduce and aggregation tools
7. provides high performance
8. Stores files of any size easily without complicating your stack.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [10]:
# import mongodb
import pymongo
# Connect to MongoDB database
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")

# Created Database

db = client['student']

# created detail
data = {
    'name':'saurabh',
    'age':23,
    'course':'datascience master'
}

# Created collection
coll_student = db['student_detail']
# insert single data in Database
coll_student.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
# import mongodb
import pymongo
# Connect to MongoDB database
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")

# Created Database

db = client['student']

# created detail
data = {
    'name':'saurabh',
    'age':23,
    'course':'datascience master'
}

data1 = [
    {'name' :'saurabh', 'age':25,'course':'datascience'},
    {'name' :'rohit', 'age':28,'course':'DSA'},
    {'name' :'Mohit', 'age':45,'course':'JAVA'},
    {'name' :'Rahul', 'age':23,'course':'datascience'},
]

# Created collection
coll_student = db['student_detail']
# insert single data in Database
coll_student.insert_one(data)
# insert multiple data in Database
coll_student.insert_many(data1)

# View Single data 
coll_student.find_one()
for i in coll_student.find():
    print(i)

{'_id': ObjectId('6491d1d6c0e64e0d99dcf5b7'), 'name': 'saurabh', 'age': 23, 'course': 'datascience master'}
{'_id': ObjectId('6491d1e4c0e64e0d99dcf5b9'), 'name': 'saurabh', 'age': 23, 'course': 'datascience master'}
{'_id': ObjectId('6491d1e4c0e64e0d99dcf5ba'), 'name': 'saurabh', 'age': 25, 'course': 'datascience'}
{'_id': ObjectId('6491d1e4c0e64e0d99dcf5bb'), 'name': 'rohit', 'age': 28, 'course': 'DSA'}
{'_id': ObjectId('6491d1e4c0e64e0d99dcf5bc'), 'name': 'Mohit', 'age': 45, 'course': 'JAVA'}
{'_id': ObjectId('6491d1e4c0e64e0d99dcf5bd'), 'name': 'Rahul', 'age': 23, 'course': 'datascience'}
{'_id': ObjectId('6491d241c0e64e0d99dcf5bf'), 'name': 'saurabh', 'age': 23, 'course': 'datascience master'}
{'_id': ObjectId('6491d241c0e64e0d99dcf5c0'), 'name': 'saurabh', 'age': 25, 'course': 'datascience'}
{'_id': ObjectId('6491d241c0e64e0d99dcf5c1'), 'name': 'rohit', 'age': 28, 'course': 'DSA'}
{'_id': ObjectId('6491d241c0e64e0d99dcf5c2'), 'name': 'Mohit', 'age': 45, 'course': 'JAVA'}
{'_id': ObjectId('6491d241c0e64e0d99dcf5c3'), 'name': 'Rahul', 'age': 23, 'course': 'datascience'}
{'_id': ObjectId('6491d261c0e64e0d99dcf5c5'), 'name': 'saurabh', 'age': 23, 'course': 'datascience master'}
{'_id': ObjectId('6491d265c0e64e0d99dcf5c7'), 'name': 'saurabh', 'age': 23, 'course': 'datascience master'}
{'_id': ObjectId('6491d265c0e64e0d99dcf5c8'), 'name': 'saurabh', 'age': 25, 'course': 'datascience'}
{'_id': ObjectId('6491d265c0e64e0d99dcf5c9'), 'name': 'rohit', 'age': 28, 'course': 'DSA'}
{'_id': ObjectId('6491d265c0e64e0d99dcf5ca'), 'name': 'Mohit', 'age': 45, 'course': 'JAVA'}
{'_id': ObjectId('6491d265c0e64e0d99dcf5cb'), 'name': 'Rahul', 'age': 23, 'course': 'datascience'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [3]:
#import mongodb
import pymongo


client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")

db = client['car']

car_detail = [
    {'car name' : 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'},
    {'car name' : 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'},
    {'car name' : 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'},
    {'car name' : 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'},
    {'car name' : 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'},
    {'car name' : 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'},
]

coll_car = db['car_info']

coll_car.insert_many(car_detail)

for i in coll_car.find():
    print(i)

{'_id': ObjectId('6491d53dc0e64e0d99dcf5cd'), 'car name': 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('6491d53dc0e64e0d99dcf5ce'), 'car name': 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('6491d53dc0e64e0d99dcf5cf'), 'car name': 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'}
{'_id': ObjectId('6491d53dc0e64e0d99dcf5d0'), 'car name': 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'}
{'_id': ObjectId('6491d53dc0e64e0d99dcf5d1'), 'car name': 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('6491d53dc0e64e0d99dcf5d2'), 'car name': 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('6491d625c0e64e0d99dcf5d4'), 'car name': 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('6491d625c0e64e0d99dcf5d5'), 'car name': 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('6491d625c0e64e0d99dcf5d6'), 'car name': 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'}
{'_id': ObjectId('6491d625c0e64e0d99dcf5d7'), 'car name': 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'}
{'_id': ObjectId('6491d625c0e64e0d99dcf5d8'), 'car name': 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('6491d625c0e64e0d99dcf5d9'), 'car name': 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('6491d633c0e64e0d99dcf5db'), 'car name': 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('6491d633c0e64e0d99dcf5dc'), 'car name': 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('6491d633c0e64e0d99dcf5dd'), 'car name': 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'}
{'_id': ObjectId('6491d633c0e64e0d99dcf5de'), 'car name': 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'}
{'_id': ObjectId('6491d633c0e64e0d99dcf5df'), 'car name': 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('6491d633c0e64e0d99dcf5e0'), 'car name': 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'}
{'_id': 1, 'car name': 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'}
{'_id': 2, 'car name': 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'}
{'_id': 3, 'car name': 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'}
{'_id': 4, 'car name': 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'}
{'_id': 5, 'car name': 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'}
{'_id': 6, 'car name': 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('64928bf9ebd4b9051d563032'), 'car name': 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('64928bf9ebd4b9051d563033'), 'car name': 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'}
{'_id': ObjectId('64928bf9ebd4b9051d563034'), 'car name': 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'}
{'_id': ObjectId('64928bf9ebd4b9051d563035'), 'car name': 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'}
{'_id': ObjectId('64928bf9ebd4b9051d563036'), 'car name': 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'}
{'_id': ObjectId('64928bf9ebd4b9051d563037'), 'car name': 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB

In [20]:
#import mongodb
import pymongo

client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.jan60sj.mongodb.net/?retryWrites=true&w=majority")

db = client['car']

coll_car = db['car_info']

for i in coll_car.find().sort('topspeed',1):
    print(i)

#db.student.find().sort({age:1})

{'_id': 1, 'car name': 'volvo', 'price': '10 lacs', 'topspeed': '250km/h'}
{'_id': 5, 'car name': 'Mahindra', 'price': '18 lacs', 'topspeed': '250km/h'}
{'_id': 3, 'car name': 'TATA', 'price': '15 lacs', 'topspeed': '300km/h'}
{'_id': 4, 'car name': 'Audi', 'price': '95 lacs', 'topspeed': '320km/h'}
{'_id': 2, 'car name': 'BMW', 'price': '50 lacs', 'topspeed': '350km/h'}
{'_id': 6, 'car name': 'Honda', 'price': '20 lacs', 'topspeed': '350km/h'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one():- The deleteOne() method deletes the first document from the collection that matches the given selection criteria. It will delete/remove a single document from the collection

delete_many():- Delete_many() is used when one needs to delete more than one document.

drop():- Removes a collection or view from the database. The method also removes any indexes associated with the dropped collection. The method provides a wrapper around the drop command.