Q1. What is a database? Differentiate between SQL and NoSQL databases

Database is an organized collection of data. so that it can be easily accessed, managed and updated 
SQL- (Structured Query Language) and NoSQL
1. SQL database are primarily called Relational Databases Whereas NoSQL databases are primarily called non-relation or distributed database.
2. SQL database define and manipulate data-based structured query langage whereas NoSQL database has dynamic schema for unstructured data.
3. SQL databases are vertically scalable whereas NoSQL databases are horizontally scalable.
4. SQL databases are table-based on the other hand NoSQL database are either Key-Value pairs, document-based, graph databases or wide column stores.
5. SQL databese follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewer CAP theorm (Consistency, Availability and Partition tolerance)

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

a type of SQL command used to define the components of databases using the components of databases using database management system. DDL is DBMS is used to create or modify the database objects like tables, views etc.

CREATE:- CREATE is used for creating the new table in database

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE if not exists data_base.test(id int, name varchar(50), course varchar(20), marks float)')
mydb.close()

DROP :- DROP is used for Delete the table or database

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute('DROP data_base.Table test')
mydb.close()

ALTER:- ALTER statement is used to add, delete or modify column in existing table.

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute('ALTER TABLE data_base.test ADD Fees int')
mydb.close()

TRUNCATE:- TRUNCATE is to delete all the data from SQL table

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute('TRUNCATE TABLE data_base.test')
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

DML:- DML Stands for Data Manipulation language. it is a set of SQL statement that act on the data within a table. Select, insert, update, and delete are elements of this language

INSERT:- This statement is used for insert data in database

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute('INSERT INTO data_base.test values(101,saurabh, datascience, 453.6)')
mydb.commit()
mydb.close()

update:- We can update existing records in a table by using the 'update' statement

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute("UPDATE data_base.test SET course = 'DBMS' where course = 'datascience'")
mydb.commit()
mydb.close()

delete:- We can delete records from an existing table by using the 'DELETE FROM' statement

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM data_base.test where course = 'DBMS'")
mydb.commit()
mydb.close()

Q4. What is DQL? Explain SELECT with an example

DQL statements are used for performing queries on the data within schema objects.

import mysql.connector
import logging
logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host: 'localhost',
    user:'abc','
    passowrd:'password'
)
logging.info(mydb)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM data_base.test")
for i in mycursor.fetchall():
    logging.info(i)

mydb.close()

Q5. Explain Primary Key and Foreign Key.

Primary Key:- The PRIMARY KEY constraint uniquely identifies each record in a table. Primary key must contain Unique values, and cannot contain NULL value

Foreign Key:- A FOREIGN KEY is a field( or collection of field), in one table, that refers to the PRIMARY KEY in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# import mysql library
import mysql.connector
import logging
#connect MySQL

logging.basicConfig(filename = 'record.txt', level = logging.DEBUG)
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

# Check database is connected or not
logging.info(mydb)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM data_base.test")
for i in mycursor.fetchall():
    logging.info(i)

mydb.close()

cursor():- it is used to execute statement to communicate with MYSQL database.

execute():- This method execute the given database operation (query or command)

Q7. Give the order of execution of SQL clauses in an SQL query.

In a typical SQL query, the clauses are executed in the following order:

FROM: Specifies the tables from which to retrieve the data.

JOIN: Combines the specified tables based on a specified condition.

WHERE: Filters the rows based on a specified condition.

GROUP BY: Groups the rows based on specified columns.

HAVING: Filters the grouped rows based on a specified condition.

SELECT: Selects the columns to include in the result set.

DISTINCT: Filters duplicate rows from the result set (optional).

ORDER BY: Sorts the rows based on specified columns.

LIMIT / OFFSET: Limits the number of rows returned and specifies the starting row (optional).

It's important to note that not all clauses are required in every SQL query. The clauses are executed in this order to perform the necessary filtering, grouping, and sorting operations on the data.